################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/TusFileServer/.vs
/Server/TusFileServer/bin/Debug/net8.0
/Server/TusFileServer/obj
/Client/BigOUploadApp/.vscode
